.loader {
  border: calc(var(--size) * 0.15) solid rgb(105, 105, 105);
  border-top: calc(var(--size) * 0.15) solid transparent;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
