.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1rem;
}

.subContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
