.container {
  margin: 0;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.title {
  position: relative;
  width: fit-content;
  display: flex;
}
.title button {
  background: transparent;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 0.7rem;
  padding-right: calc(0.7rem + 1rem + 0.3rem);
  margin: 0;
  border: 1px solid #e8e7ed;
  border-radius: 5px;
  height: 2.3rem;
  min-width: 200px;
  text-align: left;
  cursor: pointer;
  transition: 0.2s;
}
.title button:hover {
  background-color: #fbfbfb;
}
.title svg {
  position: absolute;
  width: 0.9rem;
  height: 0.9rem;

  top: calc(2.3rem / 2 - 0.9rem / 2);
  right: 0.6rem;

  fill: rgba(136, 75, 143, 1);
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 0.2rem;
  width: 100%;

  border: 1px solid #e8e7ed;
  border-radius: 5px;
}

.item {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
  transition: 0.2s;
}
.item:hover {
  background-color: #fbfbfb;
}
