.table {
  display: grid;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(232, 231, 237, 1);
  overflow: auto;
  /* screen - header - search bar - margin - filters button - margin - content padding bottom */
  max-height: calc(100vh - 4rem - 2.7rem - 1rem - 2.3rem - 1rem - 1.5rem);
}

.table > div {
  padding: 0.75rem 1rem;
}

.cell {
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.darkCell {
  background: rgba(246, 245, 248, 1);
}
.firstRow {
  font-weight: 500;
}
