.table {
  display: grid;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(232, 231, 237, 1);
  overflow: hidden;
}

.table > div {
  padding: 0.75rem 1rem;
}

.cell {
  text-wrap: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.darkCell {
  background: rgba(246, 245, 248, 1);
}
.firstRow {
  font-weight: 500;
}
